* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* border: 1px solid green; */
    display: flex;
    padding-top: 30px;
    justify-content: center;
}

nav {

    /* border: 1px solid rgb(12, 103, 240); */
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(5, auto);
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
}

nav li {
    padding-left: 15px;
    padding-right: 15px;
}

nav li a {
    /* border: 1px solid rgb(255, 255, 255); */
    transition: 0.7s;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    border-radius: 20px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
}

li a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(168, 152, 132);
}
.main_photo {
    /* border: 2px solid red; */
    background-image: url(./1stimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
}

.main_photo .text1,
.text2 {
    color: rgb(240, 228, 228);
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.main_photo .text {
    /* border: 1px solid rgb(255, 255, 255); */
    position: relative;
    top: 120px;
}
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1414;
  } */
  
  .services-section {
    padding: 40px;
  }
  
  .services-menu {
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
  }
  
  .categories {
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
  }
  
  .category {
    padding-top: 10px;
    border: 2px solid white;
    width: 30%;
    text-align: center;
    cursor: pointer;
  }
  
  .category img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .category h3 {
    color: #e8e3e7;
    margin-top: 10px;
    font-size: 18px;
  }
  
  .sub-services-section {
    padding-left: 40px;
    padding: 10px;
    color: #fff;
    width: 45%;
  }
  
  .sub-services-section ul {
    /* border: 2px solid white; */
    color: #fff;
    list-style: none;
    padding: 0;
  }
  
  .sub-service {
    background-color: #f5f0ef32;
    margin-right: 120px;
    border: 1px solid rgb(246, 248, 246);
    border-radius: 50px;
    padding: 12px;
    cursor: pointer;
  }
  
  .sub-service:hover {
    color: black;
    background-color: rgba(237, 229, 229, 0.712);
  }
  
  .service-details {
    color: white;
    border: 1px solid white;
    width: 50%;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    min-height: 200px;
  }
  
  .service-details .details-content {
    display: flex;
    /* position: fixed; */
    background-size: cover;
  }
  
  .details-text {
    position: relative;
    color: #fff;
    padding: 20px;
    max-width: 70%;
    /* background-color: rgba(255, 255, 255, 0.336); */
  }
  
  .details-content img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  #book-button {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #d4747465;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #book-button:hover {
    color: black;
    background-color: #d8d9d045;
  }
  
  .staff-section {
    margin-top: 80px;
    /* padding: 40px; */
    background-color: #bca4a265;
    color: white;
  }
  
  .staff {
    height: 150px;
    display: flex;
    justify-content: space-around;
  }
  
  .staff-member {
    border: 2px solid red;
    text-align: center;
  }
  
  .staff-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .staff-member h3 {
    margin: 0;
  }
  
  .staff-member p {
    font-style: italic;
  }
  